@{
    ViewBag.Title = "Harita";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-pap7OrVXYP7kqAl5A...==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div class="map-container">
        <div id="map"></div>

        <div class="drawing-controls">
            <label for="type">Çizim Türü:</label>
            <select id="type">
                <option value="None">Yok</option>
                <option value="Point">Nokta</option>
                <option value="LineString">Çizgi</option>
                <option value="Polygon">Poligon</option>
            </select>
            <button id="undo">
                <i class="fa-solid fa-rotate-left"></i> Geri Al
            </button>
            <button id="toggleApiDataBtn">
                <i class="fa-solid fa-database"></i> API Verilerini Gizle/Göster
            </button>
        </div>

        <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div class="popup-content">
                <label for="featureName">Özellik Adı:</label>
                <input type="text" id="featureName" placeholder="Özellik adını girin" />
                <button id="saveFeatureBtn">
                    <i class="fa-solid fa-floppy-disk"></i> Kaydet
                </button>
            </div>
        </div>

        <div class="manual-drawing-controls">
            <div class="input-group">
                <label for="manualDrawType">Geometri Tipi:</label>
                <select id="manualDrawType">
                    <option value="Point">Point</option>
                    <option value="LineString">LineString</option>
                    <option value="Polygon">Polygon</option>
                </select>
            </div>

            <div class="input-group">
                <label for="manualCoordsInput">Koordinat:</label>
                <input type="text" id="manualCoordsInput" placeholder="POINT(32.85 39.92)">
            </div>

            <div class="input-group">
                <label for="manualFeatureName">Ad:</label>
                <input type="text" id="manualFeatureName" placeholder="Özellik adı">
            </div>

            <button id="addManualDrawing">
                <i class="fa-solid fa-plus"></i> Ekle
            </button>
        </div>

        <div id="api-data-scroll-container">
            <h3>Yüklenen API Verileri</h3>
            <ul id="api-data-list"></ul>
        </div>

        <div id="pagination-controls">
            <button id="prevPageBtn">
                <i class="fa-solid fa-chevron-left"></i> Önceki
            </button>
            <span id="pageInfo">Sayfa 1</span>
            <button id="nextPageBtn">
                Sonraki <i class="fa-solid fa-chevron-right"></i>
            </button>
        </div>

        <div>Yüklenen Özellik Sayısı: <span id="featureCount">0</span></div>

        <div id="info"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
    <script type="module" src="/js/mapSetup.js"></script>
    <script type="module" src="/js/interactions.js"></script>
    <script type="module" src="/js/apiHandler.js"></script>
    <script type="module" src="/js/uiHandler.js"></script>
    <script type="module" src="/js/main.js"></script>
    <script type="module" src="/js/manual.js"></script>
</body>
</html>